<div class="row">
    <div class="container">
        @if (User.IsInRole(CCSB_Bentelo.Utility.Helper.Admin))
        {
            <div class="form-group col-4" id="divDoctorList">
                <label> Select Admin</label>
                @Html.DropDownList("doctorId", new SelectList(ViewBag.DoctorList, "Id", "Name"),
                new { @class = "form-control select2" })
            </div>
        }
    </div>
</div>